<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="stylesheet" href="stylesheets/utilities.css">
    <title>Welcome To QuoraForCollege</title>
</head>

<body>
    <header class="hero">
        <div class="navbar" id="navbar">
            <h1 class="logo">QuoraForCollege</h1>
            <nav>
                <ul>
                    <li><a href="/posts">Home</a></li>
                    <li><a href="#home">About</a></li>
                    <li><a href="#home">Contact</a></li>
                    <li><a href="/register">SignIn</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h1>QuoraForCollege</h1>
            <p>Here at QuoraForCollege we help you to connect with other colleges.</p>
            <a class="btn bg-dark" href="#about"><i class="fas fa-chevron"></i> Read More</a>
        </div>
    </header>
</body>

</html>