.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(0, 0, 0, .4);  
}

.hero *{
    z-index: 1;
}

.bg-dark{
    background-color: #555;
    color: #333;
}



.btn{
    margin: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}