<% layout('layouts/boilerplate') %>
    <h1 class="display-1 text-center">All Posts</h1>
    <% for(let post of posts){ %>
        <div class="container">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%= post.image %>" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= post.question %>
                            </h5>
                            <p class="card-text">
                                <%= post.body %>
                            </p>
                        </div>
                        <a href="/posts/<%=post._id%>" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>